<h1>New enroll</h1>

<%= form_for @enroll do |f| %>
<%= f.label :course_id %><br />
  <%= f.select :course_id, Course.find(:all, :order => "title").collect {|s|
	[(s.title), s.id]} %>
<%= f.label :user_id %><br />
  <%= f.select :user_id, User.find(:all, :order => "name").collect {|s|
	[(s.name), s.id]} %>
<%= f.label :expiration, "Class Expiration" %><br />
<%= f.date_select(:expiration, :order => [:month, :day, :year]) %>	


  <div class="actions">
    <%= f.submit %>
</div>
<% end %>



<%#<%= render 'form' %>

<%= link_to 'Back', enrolls_path %>
