<h2>Edit User</h2>
<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>
  <%= f.input :name, :required => true, :autofocus => true %>
  <%= f.input :email, :required => true %>
  <%= f.input :password, :required => true %>
  <%= f.input :password_confirmation, :required => true %>
  <%= f.button :submit, 'Create User', :class => 'btn-primary' %>
<% end %>