<p id="notice"><%= notice %></p>
<p>Click link below to enter your course</p>
<p>
  <b>Course:</b>
  <%= link_to @order.course.title, courses_path %>
</p>

<p>
  <b>User:</b>
  <%= @order.user.name %>
</p>
<% if current_user.has_role? :admin %>
<%= link_to 'Edit', edit_order_path(@order) %> 
<%= link_to 'Back', orders_path %>
<% end %>

 <%#<%= link_to @order.course.title, courses_path(@course) %>