<% if current_user.has_role? :admin %>
<center><h1>Admin</h1></center>
<p>
	<%= link_to "Manage Users", users_path %><br /><br />
	<%= link_to "Add a New User", new_admin_user_path %><br /><br />
	<%= link_to "Manage Courses", courses_path %><br /><br />
	<%= link_to "Manage Enrollments", enrolls_path %><br /><br />
	<%= link_to "Manage Orders", orders_path %>
	</p>
<% end %>