<p><strong>Description:</strong> <%= @course.description %></p><br />

<p><strong>Preview: </strong></p>
<%= @course.media_url.html_safe %><br />
<br />
<p><strong>Cost:</strong> $<%= @course.cost/100 %></p>


<%= link_to "Order This Course", new_course_order_path(@course) %> |
<%= link_to 'Back', courses_path %>
<br /><br />
