<!DOCTYPE html>

<div class="background">

<p><course>
<%= image_tag("Nuvola_Academy_small.png", :align => 'right', :padding => '7px', alt: "Nuvola Networks") %><br /><br /></course></p>

	<div class="nuvola">
<strong>Nuvola Academy</strong> is a revolutionary approach to education.  The training to help you succeed <strong> when you need it, and where you want it. </strong> Build communities, see what's trending, and connect with like minded individuals who share a passion similar to your own.<br ?><br /></div>

<!-- When submit the form, the view rendered will be the index view of our courses resource -->
<%= form_tag(courses_path, :method => "get", class: "navbar-form", id: "search-form") do %>
 <center> <div class="input-append">
    <%= text_field_tag :search, params[:search], class: "span4", placeholder: "Start Learning Today" %></center>
    <!-- In order to have the "search" icon int the button, we need to use plain HTML instead 
         of using a Rails form helper -->
    </div>
<% end %>

</div>

<table>

  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>


<% @courses.each do |course| %>

  <tr>
    <td><strong><%= link_to course.title, course %>  </strong></td>
	<td><%= course.description %></td>
	<td>$<%= course.cost/100 %></td>
<% if current_user.has_role? :admin %>
    <td><%= link_to 'Edit Course', edit_course_path(course) %></td>
    <td><%= link_to 'Delete Course', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>  
</tr>
<% end %>
</table>

<br />
<% if current_user.has_role? :admin %>
<%= link_to 'New Course', new_course_path %>
<% end %>
<%= will_paginate %>