	<script src="http://jwpsrv.com/library/+PW3kO76EeKteCIACqoQEQ.js"></script>
<p id="notice"><%= notice %></p>
<h1>
<%= @course.title %>
</h1>

<br />
<p></p>
<p></p>

<% if @course.accessible_by_user?(current_user) | @course.accessible_to_user?(current_user) %>

<%= render 'course' %>


<% else %>
<%= render 'course_preview' %>

<% end %>


<% if current_user.has_role? :admin %>
<%= link_to 'Edit', edit_course_path(@course) %> 
<% end %>
